<nav class="{% if page.ref == "index" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.ref != "index" %}
        <li class="item">
            {% if page.lang == "fr" %}
            <a class="link" href="{{ site.url }}/">Accueil</a>
            {% endif %}
            {% if page.lang == "en" %}
            <a class="link" href="{{ site.url }}/home">Home</a>
            {% endif %}
        </li>
        {% endif %} 
        {% if site.blog == true %} {% if page.ref != "blog" %}
        <li class="item">
            {% if page.lang == "fr" %}
            <a class="link" href="{{ site.url }}/blog">Blog</a>
            {% endif %}
            {% if page.lang == "en" %}
            <a class="link" href="{{ site.url }}/blog">Blog</a>
            {% endif %}
        </li>
        {% endif %} {% endif %} 
        {% if site.projects == true %} {% if page.ref != "projects" %}
        <li class="item">
            {% if page.lang == "fr" %}
            <a class="link" href="{{ site.url }}/projets">Projets</a>
            {% endif %}
            {% if page.lang == "en" %}
            <a class="link" href="{{ site.url }}/projects">Projects</a>
            {% endif %}
        </li>
        {% endif %} {% endif %} 
        {% if site.about == true %} {% if page.ref != "about" %}
        <li class="item">
            {% if page.lang == "fr" %}
            <a class="link" href="{{ site.url }}/a-propos">A propos</a>
            {% endif %}
            {% if page.lang == "en" %}
            <a class="link" href="{{ site.url }}/about">About</a>
            {% endif %}
        </li>
        {% endif %} {% endif %}
        {% if site.resume == true %}
        <li class="item">
            {% if page.lang == "fr" %}
            <a class="link" target="_blank" href="{% if site.resume-external %}{{ site.resume-fr-url }}{% else %}{{ site.url }}/{{ site.resume-fr-url }}{% endif %}">CV</a>
            {% endif %}
            {% if page.lang == "en" %}
            <a class="link" target="_blank" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            {% endif %}
        </li>
        {% endif %}
    </ul>
</nav>

{% if page.ref == "index" %}
<hr />
{% endif %}

<!-- Language -->
<nav class="{% if page.ref == "index"  %}nav-language-home{% else %}nav-language{% endif %}">
    <ul class="list">
        {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
        {% for post in posts %}
        <li class="item">
            <a href="{{ post.url }}" class="link">{{ post.lang }}</a>
        </li>
        {% endfor %}

        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for page in pages %}
        <li class="item">
            <a href="{{ page.url }}" class="link">{{ page.lang }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
