---
layout: base.njk
eleventyExcludeFromCollections: true
permalink: /
---
<header class="home-header">
  <h1>Articles récents</h1>
</header>

<div id="post-list">
  {% for post in collections.posts %}
    <a class="card-wrapper" href="{{ post.url }}">
      <article class="card">
        <div class="card-body">
          <h2 class="card-title">{{ post.data.title }}</h2>
          <div class="card-text">{{ post.templateContent | striptags(true) | truncate(200) }}</div>
          <div class="post-meta">
            <span class="meta-item">
              <svg class="icon"><use href="#i-calendar"/></svg>
              <time datetime="{{ post.date | isoDate }}">{{ post.date | dateFr }}</time>
            </span>
            {% if post.data.categories and post.data.categories.length %}
            <span class="meta-item">
              <svg class="icon"><use href="#i-folder"/></svg>
              <span>{{ post.data.categories | join(", ") }}</span>
            </span>
            {% endif %}
          </div>
        </div>
      </article>
    </a>
  {% endfor %}
</div>
